@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 18px;
  @apply text-gray-100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link {
  @apply relative block text-4xl font-semibold text-gray-600 before:absolute before:-left-6 before:hidden before:text-gray-600 before:content-['>'] hover:text-white md:text-6xl md:before:left-[-5%] lg:text-8xl;
}

.nav-link:hover {
  @apply before:block;
}

.footer-link {
  @apply my-2 mr-4 block underline hover:text-white;
}

.footer-link--couture:hover span,
.nav-link--couture:hover span {
  @apply text-couture;
}

.footer-link--space:hover span,
.nav-link--space:hover span {
  @apply text-space;
}

.footer-link--materialize:hover span,
.nav-link--materialize:hover span {
  @apply text-materialize;
}

.nav-link--active {
  @apply text-white before:block before:text-white;
}

.image-shadow-inset span {
  @apply relative after:absolute after:left-0 after:top-0 after:block after:h-full after:w-full after:rounded-full;
}

.image-shadow-inset span::after {
  box-shadow: black 0px 0px 20px inset, black 0px 0px 10px inset,
    black 0px 0px 5px inset;
}

.video-shadow-inset {
  @apply relative after:absolute after:left-0 after:top-0 after:block after:h-full after:w-full after:rounded-full;
}

.video-shadow-inset::after {
  box-shadow: black 0px 0px 20px inset, black 0px 0px 10px inset,
    black 0px 0px 5px inset;
}
